<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Contáctenos:</span>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Tecno Cel
            </h6>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus fugiat inventore hic ut saepe doloremque sed rem ducimus error exercitationem!
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Link útiles
            </h6>
            <p>
              <a href="home" class="text-reset">Home</a>
            </p>
            <p>
              <a href="cel" class="text-reset">Productos</a>
            </p>
            <p>
              <a href="form" class="text-reset">Compra</a>
            </p>
            <p>
              <a href="cont" class="text-reset">Contacto</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> La Paz, BO</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + (591) 123456789</p>
            <p><i class="fas fa-print me-3"></i> + (591) 987654321</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright
    </div>
  </footer>