<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <form action="home">
                <div class="form-group">
                    <input type="text" name="fistName" [(ngModel)]="client.fistName" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" [(ngModel)]="client.lastName" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="ci" [(ngModel)]="client.ci" placeholder="C.I." class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="celular" [(ngModel)]="client.celular" placeholder="Celular" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="correo" [(ngModel)]="client.correo" placeholder="Correo" class="form-control">
                </div>
                <ul class="list-group list-group-flush" *ngFor='let cell of cells'>
                    <li class="list-group-item">
                        <div class="ms-2 me-auto">
                            <input class="form-check-input"  type="checkbox" value="cell.id" id="flexCheckDefault" (change)="onChange($event, cell.price)">
                            <div class="fw-bold">{{cell.model}}</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">{{cell.price}}$</span>
                    </li>
                </ul>
                <a href="home" class="btn btn-primary">SAVE</a>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card card-body text-center">
        <h3>Cliente: {{client.fistName == '' ? 'Nombre' : client.fistName}} {{client.lastName == '' ? 'Apellido' : client.lastName}}</h3>
        <p>C.I.: {{client.ci == '' ? '########' : client.ci}}</p>
        <p>Celular: {{client.celular == '' ? '########' : client.celular}}</p>
        <p>Correo: {{client.correo == '' ? 'example@gmail.com' : client.correo}}</p>
        <p>Costo: {{costo}}$</p>
        <p>Descuento: {{descuento}}%</p>
        <p>Costo Final: {{costoFinal}}$</p>
    </div>
</div>